@media (max-width: 1370px) {
    .slick {
        &-prev {
            left: 10px;
        }
        &-next {
            right: 10px;
        }
    }
    .footer {
        &__top-btn {
            width: 42px;
            height: 42px;
            background-size: 16px auto;
            margin-top: -21px;
        }
        &__brand-name {
            padding-right: 30px;
        }        
    }

}

@media (max-width: 1320px) {
    .footer {
        &__top-btn {
            display: none;
        }
        &__brand-name {
            padding-right: 70px;
        }    
    }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
    .sale {
        &__h {
            padding-left: 65px;
            padding-right: 65px;
        }
        &__btn {
            padding: 7px 0;
        }
    }    
    .cooperation {
            padding-bottom: 70px;
        &__point {
            padding: 0 40px;
            margin-bottom: 40px;
        }
    } 
    .strbl {
        &__left {
            flex: 0 0 51%;
            max-width: 51%;
        }
        &__right {
            flex: 0 0 49%;
            max-width: 49%;
        }        
    }
    .manual {
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        &__2k {
            min-height: 465px;
        }
        &__1k {
            min-height: 232px;
        }
        &__k-text {
            font-size: 15px;
            padding: 0 20px;
            line-height: 1.4;
        }
        &__k-h {
            font-size: 17px;
            padding-bottom: 8px;
        }      
        &__fimg {
            margin-bottom: 10px;
        }
        .manual__fimg {
            max-width: 60px;
        }
    }
    .people {
        &__img {
            width: 210px;
            height: 210px;
            max-width: 100%;
        }
        &__bottom {
            padding-top: 22px;
            padding-bottom: 18px;
        }        
    }   
    .contact {
        &__map {
            position: static;
            width: auto;
            height: 400px;
        }
        &__left-box {
            width: auto;
            padding: 54px 50px;
            padding: 54px 50px 45px 50px;
        }
        form {
            // padding-top: 37px;
            padding-top: 10px;
            padding-bottom: 0;
            max-width: 400px;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
        &__h {
            padding-top: 80px;
            padding-bottom: 55px;
        }
        // =================   
        &__img {
            position: static;
            min-height: 500px;
        }
        &__out.contact__gall {
            width: auto;
            max-height: none;
            position: static;
            /* min-height: 400px; */
        }
        &__right-box {
            width: auto;
            padding: 50px 50px 100px 50px;
            min-height: 0;
        }
        &__pr--reverse {
            margin-top: 0;
        }        
    }
    .works {
        &__slider {
            .slick-prev {
                bottom: 12px;
            }
            .slick-next {
                bottom: 12px;
            }            
        }
        &__wrapper {
            padding-left: 0;
        }        
    }
    .is-sticky {
        .header__btn.orange--btn {
            margin-left: 40px;
        }
    }    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
    .is-sticky {
        .header a, .header__address, .header__links, .header__links a, .header__links span {
            color: #252525;
            // display: inline-block;
            display: block;
        }
        .header {
            &__links {
                span {
                    display: none;
                }
            }        
        }
    }
    .header {
        min-height: 880px;    
        &__address-cont {
            text-align: right;
            padding-right: 0;
        }
        &__tel {
            font-size: 18px;
            font-weight: 600;
        }    
    }
    .progress-count {
        margin: 0 12px;
    }
    .sale {
        &__h {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 140px;
            font-size: 38px;
        }
        &__input {
            margin-bottom: 30px;
        }    
    }

    .product {
    padding-bottom: 50px;        
        &__h {
            font-size: 18px;
            padding-top: 16px;
            padding-bottom: 8px;
        }
        &__unit {
            padding: 29px 18px;
        }
        &__text {
            min-height: 259px;
        }        
    }

    .cooperation {
        &__h {
            font-size: 26px;
            padding-bottom: 46px;
        }
        &__h-point {
            font-size: 17px;
        }
        &__point {
            padding: 0 20px;
        }        
    }
    .hh {
        font-size: 26px;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .slider {
        // .slick-slide {
        //     opacity: 0;
        // }
        // .slick-slide.slick-active {
        //     opacity: 1;
        // }
    }
    .pag-fix {
        display: none;
    }
    .slider {
        &__pp {
            width: 140px;
            height: 140px;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
        &__cmt {
            line-height: 1.4;
            font-size: 15px;
            min-height: 150px;
        }
        &__name {
            padding-top: 10px;
        }
    }
    .slick {
        padding-bottom: 70px;
    }
    .manual {
            padding-bottom: 30px;
        &__num-h {
            font-size: 17px;
            padding-bottom: 6px;
        }
        &__num {
            margin-bottom: 15px;
        }
        &__point {
            /* padding-bottom: 118px; */
            padding-bottom: 34px;
        }
        &__k-h {
            font-size: 16px;
            padding-bottom: 4px;
        }
        &__k-text {
            font-size: 14px;
            padding: 0 10px;
            line-height: 1.3;
        }
        &__fimg {
            max-width: 40% !important;
            margin-bottom: 14px;
        }
        &__2k {
            // min-height: 345px;
            min-height: 460px;
        }
        &__1k {
            // min-height: 172px;
            // min-height: 172.5px;
            min-height: 230px;
            
        }
    }
    .strbl {
        &__left-box {
            padding-right: 30px;
            padding-left: 30px;
        }
        &__h {
            font-size: 24px;
            color: #ff6f00;
            font-weight: 700;
            line-height: 1.2;
            padding-bottom: 5px;
            padding-top: 52px;
        }
    }
    .contact {
        padding-bottom: 70px;
    } 
    .modal-dialog.modal-lg {
        max-width: 90%;
    }
    .table td, .table th {
        padding-left: 8px;
    }    
    .tm {
        &__h {
            font-size: 26px;
                padding: 0 15px 24px;
        }
        &__h2 {
            font-size: 26px;
                padding: 30px 15px 0;
        }
        &__cont {
            padding: 0 36px 35px;
        }
    }
    .table {
        thead {
            th {
                border-bottom: 1px solid #ff6f00;
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
    .privacy {
        &__h1 {
            font-size: 32px;
            padding-bottom: 10px;
        }
    }
    .row-vh {
        min-height: 0;
        align-items: center;
    }    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
    .header {
        &__start {
            display: none;
        }
        &__btn-mobile.header__btn {
            display: block;
            height: 30px;
            width: 30px;
            border: 2px solid #ff6f00;
            text-align: center;
            line-height: 1.7;
            border-radius: 50%;
            color: #ff6f00;
            text-decoration: none !important;
            outline: none;
            background-color: transparent;
            transition: 0.15s ease-in-out;
            &:hover {
                transition: 0.2s ease-in-out;
                box-shadow: 0 3px 4px 0 rgba(255,111,0,.14), 0 3px 3px -2px rgba(0,0,0,.24), 0 1px 8px 0 rgba(0,0,0,.16);
                background-color: #ff6f00;
                color: #fff;
            }
        }    
    }
    .product__btn.orange--btn.header__btn {
        display: none;
    }


    .sale {
        &__h {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 60px;
            font-size: 26px;
        }
        &__h-num {
            font-size: 40px;
            line-height: 42px;
        }
    }   

    .cooperation {
        padding-bottom: 30px;
        padding-top: 80px;
        &__point {
            padding: 0;
        }
        &__h {
            font-size: 22px;
            padding-bottom: 35px;
        }
        &__h-point {
            font-size: 15px;
        }
        &__text {
            font-size: 15px;
            padding-top: 7px;
        }
    }
    .hh {
        font-size: 22px;
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .product {
        &__h {
            font-size: 16px;
        }
        &__btn {
            font-size: 15px;
        }
        &__text {
            color: #707070;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            padding-bottom: 20px;
            min-height: 175px;
        }        
    }
    .manual {
        &__2k {
            min-height: 510px;
        }
        &__1k {
            min-height: 255px;
        }
        &__ord-1 {
            order: 1;
        }        
        &__num-h {
            font-size: 16px;
            // padding-bottom: 6px;
        }
        &__num-text {
            line-height: 1.4;
            font-size: 15px;
        }        
    }
    .contact {
        &__img {
            position: static;
            min-height: 310px;
        }
    }
    .product {
        padding-bottom: 20px;
    }
    .strbl {
        &__left-box {
            padding-bottom: 30px;
        }
        &__right {
            min-height: 0;
        }
        &__h {
            font-size: 22px;
            padding-bottom: 5px;
            padding-top: 32px;
        }
        &__h-after {
            font-size: 15px;
            font-weight: 400;
            padding-bottom: 20px;
        }
    }

    .contact {
        &__gall-h {
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            line-height: 1.3;
            margin-bottom: 10px;
            padding: 0 10px;
        }
        &__text {
            // display: inline-block;
            font-size: 15px;
            line-height: 1.4;
        }
        &__right-box {
            padding: 30px 40px 80px;
            min-height: 0;
        }
        &__map {
            height: 300px;
        }
        &__info {
            display: block;
        }
        &__left-box {
            padding: 40px 50px 30px;
        }
    }
    .works  {
        &__slider  {
            .slick-next, .slick-prev {
                bottom: 0px;
            }
        }
    }
    .people {
        &__img {
            width: 240px;
            height: 240px;
            max-width: 100%;
        }
        &__name {
            font-size: 18px;
        }
        &__bottom {
            padding-top: 15px;
            padding-bottom: 8px;
        }                
    }    

    .slider {
        &__cmt {
            min-height: 90px;
        }
    }
    .contact form {
        padding-top: 0;
    
    }
    .contact__input, .strbl input {
        margin: 0 0 20px;
    }    
    .footer {
            padding: 20px 0;
        &__brand-name {
            padding-right: 30px;
        }
        img {
            max-width: 160px;
        }        
    }
    .copyright {
            margin-top: -33px;
            height: 66px;   
                margin-right: -260px;
        img {
            max-width: 20px !important;
        }
    }    
    // ========================
    .knob-progress {
        // display: none;
    }
    .progress-count {
        padding: 0;
        // margin: 0 23px;
    }

    .table {
        td, th {
            font-size: 14px;
            padding: 6px;
        }
    }
    .tm {
        &__h {
            font-size: 20px;
            padding: 0 15px 12px;
        }
        &__h2 {
            font-size: 20px;
            padding: 20px 15px 0;
            &-after {
                font-size: 14px;
                padding-bottom: 14px;
            }            
        }    
    }    
    .progress-count {
        margin: 0 auto;
        label {
            font-size: 15px;
            top: -42px;
        }     
    }
    #countdown-ds, #countdown-hr, #countdown-min, #countdown-sec {
        margin-top: 28px!important;
        font-size: 40px!important;
    }
    .header {
        min-height: 0;
        padding-bottom: 20px;
    } 

    .knob-progress {
        padding-top: 80px;
    }
    .bounce {
        margin-top: 20px;
    }
    .privacy {
        &__h1 {
            font-size: 26px;
            padding-bottom: 4px;
        }
        &.privacy--in {
            font-size: 15px;
            padding-left: 0;
            padding-right: 0;
        }    
    }
}

@media (max-width: 575px) {
.contact {
    padding-bottom: 30px;
}    
.header {
    &__logo {
        padding: 20px 0;
    }
}    
.sale {
    &__h {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 60px;
        font-size: 24px;
        line-height: 1.3;
        padding-bottom: 26px;
    }
    &__input {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    &__btn {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }    
}

.cooperation {
        padding-bottom: 20px;
    padding-top: 50px;
    &__text {
        padding: 0 20px;
        padding-top: 7px;
    }
    &__img {
        width: 74px;
        height: 74px;
        margin: 0 auto 10px;
    }
    &__h {
        font-size: 20px;
        padding-bottom: 25px;
    }
    &__h-point {
        padding: 0 20px;
    }       
}  

.product {
    &__unit {
        img {
            max-width: 220px;
        }
    }
    &__h {
        padding: 0 20px;
        padding-top: 16px;
        padding-bottom: 8px;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        // padding: 0 20px;
        padding-bottom: 20px;
        min-height: 70px;
    }
    &__unit {
        margin-bottom: 20px;
    }
}

.strbl {
    display: block;
    &__left, &__right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    &__left-box {
        margin: 0 auto;
    }    
    &__right {
        height: 220px;
    }    
}

.row.no-gutters.plitki {
    // max-width: 348px;
    max-width: 440px;
    margin: 0 auto;
}

.hh {
    font-size: 20px;
    padding: 0 20px;
    padding-top: 40px;
    padding-bottom: 25px;
} 
.manual {
    &__2k {
        // min-height: 348px;
        min-height: 440px;
    }
    &__1k {
        // min-height: 174px;
        min-height: 220px;
        img {
            max-width: 50px;
        }
    }
    &__k-text {
        font-size: 14px;
        line-height: 1.2;
    }
    &__fimg {
        max-width: 50px !important;
    }    
}
.people {
    &__img {
        width: auto;
            background-position: top center!important;
    }
}
.footer {
    &__frc {
        justify-content: center;
    }
    &__brand-name {
        padding-right: 0;
        padding-top: 16px;
    }    
}

    .modal-dialog.modal-lg {
        margin: 20px auto 10px auto;
    }
    .tm {
        &__cont {
            padding: 0 20px 22px;
        }
    } 
    .table thead th {
        font-size: 13px;
    } 
    .progress-count {
        margin: 0 auto;
    }          
    .knob-progress {
        padding-top:40px;
    }
    .header {
        padding-bottom: 10px;
    }
    .bounce {
        margin-top: 6px;
        /* line-height: 1; */
    }
    .privacy {
        padding: 20px 20px;
        font-size: 15px;
        &__section {
            padding: 40px 20px 14px 20px;
            font-size: 15px;
        }        
    }
    .contact {
        &__bottom {
            padding: 22px;
            font-size: 14px;
            padding-top: 0;
        }
    }
}

@media (max-width: 470px) {
    .progress-count label {
        font-size: 14px;
        top: -42px;
    }
    #countdown-ds, #countdown-hr, #countdown-min, #countdown-sec {
        margin-top: 20px!important;
        font-size: 30px!important;
    }   
    .privacy {
        &__h1 {
            font-size: 20px;
            padding-bottom: 4px;
        }
        &__section {
            padding: 30px 20px 14px;
        }        
    }
    .knob-progress {
        padding-top: 30px;
    }    
    .row.no-gutters.plitki {
        max-width: 346px;
        margin: 0 auto;
    }
    .manual {
        &__k-text {
            font-size: 13px;
            line-height: 1.2;
        }
        &__fimg {
            margin-bottom: 4px;
        }
        &__k-h {
            font-size: 14px;
            padding-bottom: 2px;
        }
        &__1k {
            min-height: 173px;
        }
        &__2k {
            min-height: 346px;
        }        
    }    
    .contact {
        &__bottom {
            padding: 18px;
            color: #fff;
            font-size: 90%;
            font-size: 13px;
            padding-top: 0;
        }
    }
}

@media (max-width: 375px) {
    .sale {
        &__h {
            font-size: 24px;
            line-height: 1.3;
            padding: 60px 30px 26px;
        }
    }
    .cooperation {
        &__h {
            font-size: 18px;
            // padding-bottom: 25px;
        }
    }   
    .hh {
        font-size: 18px;
        padding: 35px 10px 22px;
    }
    .strbl {
        &__right {
            height: 180px;
        }
    } 
    .people {
        .col320 {
            margin-left: 0 !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        &__post {
            min-height: 0;
            padding-bottom: 10px;
        }        
    }
    .contact {
        &__map {
            height: 380px;
        } 
        &__left-box {
            padding: 30px 30px 30px;
        }
        &__right-box {
            padding: 30px 30px 80px;
            min-height: 0;
        }
        &__text {
            font-size: 14px;
            line-height: 1.4;
        }
        &__img {
            position: static;
            min-height: 240px;
        }
    }
    .slick {
        padding-bottom: 40px;
    } 
    .plitki .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-6 {
        flex: 0 0 100%;
        max-width: 80%;
        margin: 0 auto;
    }
    .manual {
        &__1k {
            min-height: 268px;
        }
        &__2k {
            min-height: 388px;
            padding: 0 10px;
        }
        &__k-text {
            font-size: 14px;
            line-height: 1.2;
        }
        &__k-h {
            font-size: 16px;
            padding-bottom: 4px;
        }
    }   
    nav {
        .col360 {
            flex: 0 0 70%;
            max-width: 70%;
        }    
        .col360-2.header__right {
            flex: 0 0 30%;
            max-width: 30%;
        }         
    }
    .modal-dialog.modal-lg {
        max-width: 96%;
    }
    .tm {
        &__cont {
            padding: 0 12px 20px;
        }
    }
    .table td, .table th {
        padding: 4px;
    }  

    #countdown-ds, #countdown-hr, #countdown-min, #countdown-sec {
        margin-top: 18px!important;
        font-size: 24px!important;
    }
    .privacy {
        padding: 20px 8px 20px 10px;
        font-size: 14px;
        &.privacy--in {
            font-size: 13px;
            padding-left: 0;
            padding-right: 0;
        }
    }    
    .knob-progress {
        padding-top: 20px;
    }    

    .works__slider {
        .slick-prev {
            left: 50%;
            margin-left: -70px;
        }        
        .slick-next {
            right: 50%;
            margin-right: -70px;
        }
    }    
}



@media (max-width: 320px) {
    .manual {
        &__1k {
            min-height: 232px;
        }
    }
    .table td, .table th {
        font-size: 13px;
        padding: 4px;
    }
    .modal-dialog.modal-lg {
        max-width: 100%;
    }
    #countdown-ds, #countdown-hr, #countdown-min, #countdown-sec {
        margin-top: 14px!important;
        font-size: 20px!important;
    }
    .progress-count label {
        font-size: 13px;
        top: -39px;
    }
    .slider {
        &__pp {
            width: 130px;
            height: 130px;
        }
    }    
}
// --------------------------------------------
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


// @media (min-width: 1200px) {  } 